{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="card w-100" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title text-center mb-5">Change password</h2>
    <form method="post" action="" role="form" class="col s12">
      {% csrf_token %}
      {{ form.id }}
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label fw-bolder">Old password</label>
        {{ form.old_password }}
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label fw-bolder">New password</label>
        {{ form.new_password }}
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label fw-bolder">Confirm password</label>
        {{ form.confirm_password }}
      </div>
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!!</strong> {{ form.errors }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="text-center">
        <button type="submit" name="action" class="btn btn-success">
          Change password
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}