{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}

<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <div class="card">
      <div class="card-content">
        <h1 class="text-center">Edit Profile</h1>
        <hr>
        <form method="post" enctype="multipart/form-data" action="" role="form">
          {% csrf_token %}
          <label for="profile" class="form-label fw-bolder">Choose profile picture</label>
          <div class="input-group mb-3">
            {{ form.picture }}
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>

          <div class="mb-3">
            <label for="first_name" class="form-label fw-bolder">First name</label>
            {{ form.first_name }}
          </div>
          <div class="mb-3">
            <label for="last_name" class="form-label fw-bolder">Last name</label>
            {{ form.last_name }}
          </div>
          <div class="mb-3">
            <label for="location" class="form-label fw-bolder">Location</label>
            {{ form.location }}
          </div>
          <div class="mb-3">
            <label for="url" class="form-label fw-bolder">Url</label>
            {{ form.url }}
          </div>
          <div class="mb-3">
            <label for="bio" class="form-label fw-bolder">Bio</label>
            {{ form.profile_info }}
          </div>

          {% if form.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Error!! <strong>{{ form.errors }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}

          <button type="submit" value="login" class="btn btn-info btn-lg">Update profile</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}