{% extends 'base.html' %}

{% block title %}Notification{% endblock title %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="columns is-mobile is-centered">
  <div class="column is-half">
    {% for notification in notifications %}
    {% if notification.notification_type == 2 %}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="alert alert-dismissible fade show" role="alert">
        <a type="button" class="btn-close" href="{% url 'delete-notification' notification.id %}"></a>
        <div class="row g-0">
          <div class="col-md-3 m-2">
            {% if notification.sender.profile.picture %}
            <img src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
            {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              {% if notification.sender.profile.first_name and notification.sender.profile.last_name %}
              <h5 class="card-title">{{ notification.sender.profile.first_name }}
                {{ notification.sender.profile.last_name }}</h5>
              {%else %}
              <h6>unknown</h6>
              {% endif %}
              <small class="card-title">@{{ notification.sender.username }}</small>
              <p class="card-text">Commented: {{ notification.text_preview }}</p>
              <p class="card-text"><small class="text-muted">{{ notification.date|naturaltime }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- for follow and following notidation -->
    {% if notification.notification_type == 3 %}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="alert alert-dismissible fade show" role="alert">
        <a type="button" class="btn-close" href="{% url 'delete-notification' notification.id %}"></a>
        <div class="row g-0">
          <div class="col-md-3 m-2">
            {% if notification.sender.profile.picture %}
            <img src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
            {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              {% if notification.sender.profile.first_name and notification.sender.profile.last_name %}
              <h5 class="card-title">{{ notification.sender.profile.first_name }}
                {{ notification.sender.profile.last_name }}</h5>

              {%else %}
              <h6>unknown</h6>
              {% endif %}
              <small class="card-title">@{{ notification.sender.username }}</small>
              <p class="card-text">Followed you!</p>
              <p>Follow back ?<a class="card-title" href="/{{notification.sender.username}}">
                  {{notification.sender.username}}</a></p>
              <p class="card-text"><small class="text-muted">{{ notification.date|naturaltime }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- for likes -->
    {% if notification.notification_type == 1 %}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="alert alert-dismissible fade show" role="alert">
        <a type="button" class="btn-close" href="{% url 'delete-notification' notification.id %}"></a>
        <div class="row g-0">
          <div class="col-md-3 m-2">
            {% if notification.sender.profile.picture %}
            <img src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
            {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              {% if notification.sender.profile.first_name and notification.sender.profile.last_name %}
              <h5 class="card-title">{{ notification.sender.profile.first_name }}
                {{ notification.sender.profile.last_name }}</h5>

              {%else %}
              <h6>unknown</h6>
              {% endif %}
              <small class="card-title">@{{ notification.sender.username }}</small>
              <p class="card-text">Liked your post</p>
              <p class="card-text"><small class="text-muted">{{ notification.date|naturaltime }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}