{% extends 'base.html' %}

{% load static %}

{% block title %}Search result{% endblock title %}

{% block content %}

<div class="mb-4">
  <form class="d-flex">
    <input class="form-control me-2" name="q" type="text" placeholder="Search users..." value="{{ request.GET.q }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
<br>
{% for user in users %}
<div class="card m-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-3 m-2">
      {% if user.profile.picture %}
      <img src="{{ user.profile.picture.url }}" alt="Placeholder image">
      {% else %}
      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        {% if user.profile.first_name and user.profile.last_name %}
        <h5 class="card-title"><strong>{{ user.profile.first_name }} {{ user.profile.last_name }}</strong></h5>
        <small class="mb-5">@{{ user.username }}</small><br>
        {% else %}
        <h5 class="card-title"><strong>Unknown</strong></h5>
        <small class="mb-5">@{{ user.username }}</small><br>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="btn-group m-2" role="group" aria-label="Basic mixed styles example">
    <a type="button" class="btn btn-danger" href="{% url 'newconversation' user.username %}">Send message</a>
    <a type="button" class="btn btn-warning" href="{% url 'profile' user %}">View profile</a>
  </div>
</div>
{% endfor %}

{% endblock %}